.wp-core-ui .button-danger {
    background: #e33333;
    border-color: #9f2929 #9f2929 #9f2929;
    box-shadow: 0 1px 0 #dc3232;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #dc3232, 1px 0 1px #dc3232, 0 1px 1px #dc3232, -1px 0 1px #dc3232;
}

.wp-core-ui .button-warning {
    background: #ffa726;
    border-color: #fb8c00 #fb8c00 #fb8c00;
    box-shadow: 0 1px 0 #ffa726;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #fb8c00, 1px 0 1px #fb8c00, 0 1px 1px #fb8c00, -1px 0 1px #fb8c00;
}

.wp-core-ui .button-active {
    background: #4caf50;
    border-color: #388e3c #388e3c #388e3c;
    box-shadow: 0 1px 0 #4caf50;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #388e3c, 1px 0 1px #388e3c, 0 1px 1px #388e3c, -1px 0 1px #388e3c;
}

.wp-core-ui .button-danger:hover {
    background: #dc3232;
    border-color: #9f2929 #9f2929 #9f2929;
    color: #FFF;
}

.wp-core-ui .button-warning:hover {
    background: #ffa726;
    border-color: #fb8c00 #fb8c00 #fb8c00;
    color: #FFF;
}

.wp-core-ui .button-active:hover {
    background: #4caf50;
    border-color: #388e3c #388e3c #388e3c;
    color: #FFF;
}

.wp-core-ui .button-active:disabled {
    background: rgba(76, 175, 80, 0.51) !important;
    border-color: rgba(56, 142, 60, 0.51) rgba(56, 142, 60, 0.5) rgba(56, 142, 60, 0.51) !important;
    color: #FFF !important;
    cursor: not-allowed;
}

.mg-left-5 {
    margin-left: 5px !important;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label-danger {
    background-color: #d9534f;
}

.label.label-default {
    background-color: #999;
}

.label.label-success{
    background-color:#449d44
}